.slideup {
    display: inline-block;
    animation: slideUpFade 0.2 ease-in-out;

}
@keyframes slideUpFade {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}